@using Microsoft.AspNetCore.Identity
@using MyUniversity.Models
@using MyUniversity.Models.Enum
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User)&& user != null)
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString()))
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Faculties</a>
            </li>
        }
   @* @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Student.ToString()))
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="SubmissionDetails" asp-action="Index">SubmissionDetails</a>
            </li>
             <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Theses" asp-action="Index">Theses</a>
            </li>
        }*@
    @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString())
             || await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Faculty.ToString()))
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Subjects" asp-action="Index">Subjects</a>
            </li>
        }
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
