@model MyUniversity.Models.Thesis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Thesis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThesisName" class="control-label"></label>
                <input asp-for="ThesisName" class="form-control" />
                <span asp-validation-for="ThesisName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThesisDescription" class="control-label"></label>
                <input asp-for="ThesisDescription" class="form-control" />
                <span asp-validation-for="ThesisDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentId" class="control-label"></label>
                <select asp-for="EnrollmentId" class ="form-control" asp-items="ViewBag.EnrollmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionPercent" class="control-label"></label>
                <input asp-for="CompletionPercent" class="form-control" />
                <span asp-validation-for="CompletionPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
